<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ir.taherimoein.native_ping_checker">
    
    <!-- Permission for internet access -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
</manifest>
